[gcode_macro BRUSH_NOZZLE]
description: Wipe nozzle on gantry mounted brush (static Z)
gcode:
  SAVE_GCODE_STATE NAME=BRUSH_NOZZLE

  G91                             ; Relative positioning
  G1 Z5 F2000                     ; Move up to avoid hitting something
  G90                             ; Absolute positioning
  # Move to brush
  G1 X120 Y356 F6000              ; Move to middle of brush

  # Wipe across
  {% for i in range(4) %}
    G1 X103 F6000
    G1 X135 F6000
  {% endfor %}

  # Move off brush
  G1 Y322 F6000                   ; Move a bit in front of the brush

  RESTORE_GCODE_STATE NAME=BRUSH_NOZZLE
