## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PB10
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

[neopixel indx]
pin: indxmcu:led
chain_count: 16  # Fixed for the Smart Head LED array — do not change

[neopixel disco_on_stickXXL]
pin: PB0
color_order: GRB
chain_count: 50

[led_effect test_comet]
leds:
  neopixel:disco_on_stickXXL
layers:
  comet 1 1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
autostart: false
# Effect Rate:  1   How fast the comet moves, negative values change direction
# Cutoff:       1   Length of tail (somewhat arbitrary)
# Blending
# Palette:          Color of "head" and gradient of "tail"

[led_effect critical_error]
leds:
    neopixel:disco_on_stickXXL
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true

[gcode_macro LED_comet]
gcode:
  SET_LED_EFFECT EFFECT=test_comet
[gcode_macro LED_stop_all_effects]
gcode:
  STOP_LED_EFFECTS
[gcode_macro LED_critical]
gcode:
  SET_LED_EFFECT EFFECT=critical_error

[gcode_macro LED_whitel]
gcode:
  SET_LED LED="disco_on_stickXXL" RED=0.4 GREEN=0.4 BLUE=0.4 SYNC=0 TRANSMIT=1
